INSTRUCTIONS:

Go to File -> Save a Copy in Drive and edit this notebook in your copy

Name the copy as : Name_RollNo_AssignmentNo

Put all your doubts on Whatsapp group.

try not to use chatgpt

In [ ]:
import numpy as np

1.Create a variable temperature and assign it the value of the current temperature in your city.

> Add blockquote


Create another variable weather and assign it a string describing the weather (e.g., "sunny", "rainy", "cloudy").

In [ ]:
temp=43
weather="sunny"

2.mixed_data_types = [1, 2.5, "hello", True, [1, 2, 3]]

   Check the data type of each element in the list.

In [ ]:
mixed_data_types = [1, 2.5, "hello", True, [1, 2, 3]]
for i in range(5):
  print(type(mixed_data_types[i]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

3.Calculate the area of a circle with radius r = 5.

Calculate the square root of a number of your choice.

In [ ]:
import math
print(3.14*5*5)
a=67
x=math.sqrt(67)
print(x)

78.5
8.18535277187245

4.Create a string containing the following lyrics

It was the best of times,
it was the worst of times,
it was the age of wisdom,
it was the age of foolishness,
it was the epoch of belief,
it was the epoch of incredulity,
it was the season of Light,
it was the season of Darkness,
it was the spring of hope,
it was the winter of despair,

Count the number of occurrences of the word "the" and "epoch" in the string.

In [ ]:
s="It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair,"
count=0
s1=s.split()
for x in s1:
  if x=="the" or x=="epoch":
    count=count+1
print(count)

12

5.Implement a boolean logic puzzle where the user needs to answer whether a given number is divisible by both 2 and 3. Fill in the Blanks

In [ ]:
# Get the number from the user
number = int(input(("Enter a number: ")))

# Check if the number is divisible by both 2 and 3
is_divisible_by_2_and_3 = (number%2 == 0) and (number%3 == 0)

# Print the result
if is_divisible_by_2_and_3:
    print(f"{number} is divisible by both 2 and 3.")
else:
    print(f"{number} is not divisible by both 2 and 3.")

Enter a number: 78
78 is divisible by both 2 and 3.

6.Check if the result of (10 - 5) is greater than or equal to (7 * 2).

In [ ]:
#result of (10 - 5) what?
x=int(input())
if x>14 or x==14:
  print("yes")
else:
  print("no")

67
yes

7.Implement a function to find the intersection of the lists [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8].Fill in the Blanks

In [ ]:
def find_intersection(list1, list2):
    """
    Find the intersection of two lists.

    Parameters:
    - list1: The first list.
    - list2: The second list.

    Returns:
    - intersection: A list containing the common elements between list1 and list2.
    """
    a=set(list1)
    b=set(list2)
    intersection = a.intersection(b)

    return intersection
    # Test the function with the given lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

print("Intersection:",find_intersection(list1, list2))

Intersection: {4, 5}

8.Implement a grading system based on student scores where scores above 60 are considered pass and below are fail. Test the function with scores given

scores = [75, 45, 80, 30, 65]

In [ ]:
def func(x):
  if(x>60):
    print("pass")
  else:
    print("fail")

scores = [75, 45, 80, 30, 65]
for x in scores:
  func(x)

pass
fail
pass
fail
pass

9.Implement a countdown timer from 10 to 1 using a while loop.

In [ ]:
import time
x=10
while x>0:
    print(x)
    time.sleep(1)
    x-=1

10
9
8
7
6
5
4
3
2
1

10.Make a function that sums the list mylist = [1,2,3,4,5]

Can functions be called inside a function?

Can a function call itself?

Can variables defined in a function be used in another function?

print the answers of theoretical questions and mention the concept.

In [ ]:
mylist = [1,2,3,4,5]
print(sum(mylist))

15

2) yes,
3)yes..recursion
4)no..thet are local variables.